<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
  <div class="inner-adjust">

    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Component R&D</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        R&D content...
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <app-vjs [videoUrl]="'assets/panos/townhouse_90751078.MP4'" [videoId]="'vjs-1'" [videoTitle]="'Surfing looks fun'" [videoWidth]="600" [videoHeight]="300" [videoType]="'video/mp4'" [videoAutoPlay]="no"></app-vjs>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-vjs [videoUrl]="'assets/panos/townhouse_90751078.MP4'" [videoId]="'vjs-2'" [videoTitle]="'Test Inside Tour'" [videoWidth]="600" [videoHeight]="300" [videoType]="'video/mp4'"></app-vjs>
      </div>
    </div> -->

  </div>
</main>