<nav class="navbar navbar-dark fixed-topZZ bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
    <!-- <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo"> -->
    <img src="assets/uv-logo.png" alt="UltimateView.pro - Drone, VR, and more." class="uv-logo">
    
  </a>

  <div class="navbar-collapse" id="navbarShared">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/play/course/1">Course 1</a>
      <a class="nav-item nav-link" routerLink="/rnd">R&D</a>
      <a class="nav-item nav-link" routerLink="/aerial">Aerial</a>
      <a class="nav-item nav-link" routerLink="/admin/command-center">Admin</a>
      <a class="nav-item nav-link" routerLink="/sign-in">Login</a>
    </div>
  </div>
</nav>
