<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
  <div class="inner-adjust">

    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Welcome to UltimateView.pro</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        Home content...
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-sphere-view [containerId]="'test-sphere-1'"></app-sphere-view>
        <!-- <app-pano [myId]='"test2"' [panoUrl]="'assets/panos/places/park/IMG_20190401_143930.JPG'"></app-pano> -->
        <!-- <app-pano [myId]='"test2"' [panoUrl]="'assets/panos/pano.jpg'"></app-pano> -->
      </div>
    </div>

  </div>
</main>