<div class="row composite-row">
  <div class="col-md-4">
    {{ currentCourse.name }}
  </div>
  <div class="col-md-4">
    <app-course-select [courseList]="courseList" [currentCourse]="currentCourse" [courseSelectHandle]="setCourse"></app-course-select>
  </div>
  <div class="col-md-4">
    <app-hole-select [currentCourse]="currentCourse" [holeSelectHandle]="setHoleNum"></app-hole-select>
  </div>
</div>
<div class="row composite-row">
  <div class="col-md-12 col-sm-12">
    <app-waypoint-select [info]="info"></app-waypoint-select>
  </div>
</div>
<div class="row composite-row">
  <div class="col-md-7 col-sm-12">
    <app-video-timeline [info]="info"></app-video-timeline>
    <app-video-time-status></app-video-time-status>
    
    <app-youtube360 [info]="info" [playerId]="'youtube360_1'" [youtubeId]="'rfyzaaDcqMQ'"></app-youtube360>
  </div>
  <div class="col-md-5 col-sm-12">
    <app-google-map [info]="info"></app-google-map>
  </div>
</div>